{% extends 'base.html' %}
{% load static %}

{% block cases %}

<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2>Установка bluetooth-датчиков в городе Минске</h2>
        <p class="lead">Первые bluetooth-датчики установлены в 2016 году на проспекте Машерова, на 
            четырех перекрестках. В настоящее время продолжается установка в городе Минске. 
            Данные с bluetooth-датчики передаются на ЦУП АСУДД и обрабатываются SNAP-сервером.
            На основании обработаных данных ПТК ЦУП АСУДД вырабатывает управляющие воздействия по формированию сценариеыв управления. 
            Управляющие воздействия передаются на периферийные светофорные объекты и минимизируют заторы на улично-дорожной сети. 
        </p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'blog/img/bl_masherova.jpeg' %}" class="responsive">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
          <h2>Установка видеодетекторов в городах Беларуси и на автомобильных дорогах</h2>
          <p class="lead">Первые видеодетекторы установлены на четырех перекрестках на пр.Машерова в городе Минске. Видеодетекторы 
            позволяют распознавать проходящий транспорт передавая на ЦУП АСУДД не только обзорную видеоинформацию, но и такие данные 
          о транспортном потоке, как скрость, интенсивность движения, состав потока, наличие инцидентов, поведенческие характеристики 
          транспортного потока. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'blog/img/video_masherova.jpeg' %}" class="responsive">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2>Реализация адаптивной пешеходной сигнализации возле школы в городе Минске</h2>
        <p class="lead">В 2015 году в г.Минске вблизи средней школы №25 на трех  нерегулируемых
            пешеходных переходах установлены датчики, реагировующие на появление на переходе пешехода 
            и предупреждающие водителя о появлении пешехода путем мигания светодиодных вставок,
            вмонтированных в проезжую часть.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'blog/img/flashing.jpg' %}" class="responsive">
      </div>
    </div>
    <hr class="featurette-divider">
    
{% endblock cases %} 